@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;1,300 & display=swap');

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}


.container{
    background-color: pink;
    position: relative;
}
#texto1 {
    width: 150px;
    height: 150px;
    background-color: grey;
    box-sizing: border-box;
    position: absolute;
}
#texto2{
    background-color: red;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    position: absolute;
}
#teste {
    z-index: 2;
}

/*O rem é relativo ao body /*